#centerpanel {
  width: 85%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff
}

#page {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}


#questions {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("Clojure-icon.png");
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* Image is from https://commons.wikimedia.org/wiki/File:Clojure-icon.png
and is in the public domain */

img {
  width: 100%;
}

p {
  font-size: 13pt;
  font-style: normal;
}

input {
  font-size: 13pt;
  font-style: normal;
}
button {
  font-size: 13pt;
  text-align: center;
}
